* {
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
}

header {
    color: white;
    background-image: url("../img/img-inic-pag.webp");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

footer {
    color: #8b8b8b;
    font-style: normal;
    font-weight: 800;
    line-height: 19px;
}

section {
    color: black;
    background-color: white;
}

hr {
    border-top: 35px solid rgba(0, 0, 0, 0.1);
}

input[type="range"]::-webkit-slider-runnable-track {
    background: white;
    height: 0.2rem;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
    background: white;
    height: 0.2rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -6px;
    background-color: white;
    height: 1rem;
    width: 1rem;
    border-radius: 1.25rem;
}

img[href*="pergunta"] {
    cursor: pointer;
}
.slogan {
    font-weight: 800 !important;
    font-size: 2.5rem !important;
    line-height: 65px;
}
.depoimento img {
    width: 100px;
    height: 100px;
}
@media (min-width: 768px) {
    #content-header {
        height: 88vh;
    }
}

#emprestimo {
    min-height: 381px;
    background-color: transparent;
    border: none;
    width: 500px;
}

#emprestimo h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 27.1151px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.602557px;
    width: 500px;
}

#emprestimo button {
    border-radius: 50px;
}

#observacao {
    width: 277.44px;
    height: 33px;

    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 13.5317px;
    line-height: 18px;

    text-align: center;
    color: #ffffff;
    opacity: 0.5;
}

#certificado {
    color: #f0a933;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
}

.btn-info {
    background: #593572;
    border-color: #4f2f67;
}

.btn-info:active,
.btn-info:hover {
    background: #7e4ea0;
}

.btn-secondary {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
}

.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
    background: #a8a8a8;
    border-color: #e0e0e0;
}

.resposta {
    font-weight: 400;
}

.depoimento {
    height: 350px;
}

.display-4::after {
    content: "\a‾‾‾‾‾";
    color: #4f2f67;
    white-space: pre;
    font-weight: bold;
}

.carousel-item .card {
    background: #fbfdfe !important;
    border: 1px solid rgba(161, 174, 191, 0.1);
    border-radius: 30px;
}

.carouselControl {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 6px;

    width: 48px;
    height: 48px;

    background: #4f2f67;
    border-radius: 34px;

    margin: 24px;
}

.carouselControl:active {
    background: #f0a933;
}

.text-destaque {
    font-weight: 800;
    font-size: 1.5em;
}

.form-range {
    width: 250px;
    height: 1.5rem;
    padding: 0;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.nav-item {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.nav-link {
    color: white !important;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.active {
    position: relative;
    top: 1px;
    color: white !important;
}

.slogan {
    font-weight: 800;
    font-size: 2em;
}

.sub-slogan {
    font-weight: 500;
    font-size: 23.6778px;
    line-height: 30px;
}
